<div class="d-flex justify-content-center align-items-center" style="width: 100vw;">


    <form class="needs-validation justify-content-center m-auto" novalidate style="width: 50%;">
        <div class="form-row w-100">
            <div class="col-md-4 mb-3 w-100">
                <label for="validationTooltip01">First name</label>
                <input type="text" class="form-control" id="validationTooltip01" value="" required>

            </div>
            <div class="col-md-4 mb-3 w-100">
                <label for="validationTooltip02">Last name</label>
                <input type="text" class="form-control" id="validationTooltip02" value="" required>

            </div>
            <div class="col-md-4 mb-3 w-100">
                <label for="validationTooltipUsername">Email</label>
                <div class="input-group">

                    <input type="email" class="form-control" id="validationTooltipUsername"
                        aria-describedby="validationTooltipUsernamePrepend" required>

                </div>
            </div>
        </div>
        <div class="form-row w-100">
            <div class="col-md-4 mb-4 w-100">
                <label for="validationTooltip03">Message </label>
                <input type="text" class="form-control" id="validationTooltip03" required style="height: 100px;">

            </div>

        </div>
        <button class="btn btn-primary justify-content-center align-content-center" type="submit">Submit form</button>
    </form>


</div>