
<base href="./../../../">
<section id="about-info" class="bg-light py-3">
  <div class="container">
    <div class="info-left">
      <h1 class="l-heading"><span class="text-primary">
        About</span> Hotel Kinara</h1>
        <p>Nestled in the serene and picturesque village of Tapola,
             Hotel Kinara offers a tranquil retreat away from the hustle and bustle of city life. 
             Located in the beautiful hill station of Mahabaleshwar,
              our hotel combines natural beauty with comfortable accommodations to provide a unique and relaxing experience for our guests.
    </div>
    <div class="info-right">
    </div>
  </div>
</section>
<div class="clr"></div>

<section id="testimonials" class="py-3">
  <div class="container">
    <h2 class="l-heading">What Our Guests Say</h2>
    <div class="testimonial aboutp">
      <h3>Location:</h3>
      <p>Tapola, Mahabaleshwar: Often referred to as the "Venice of the East,
        " Tapola is renowned for its scenic beauty and tranquil environment.
         Our hotel is perfectly situated to offer stunning views of the lush landscapes and the serene Tapola Lake.
    </div>
    <div class="testimonial aboutp">
      <h3>Accommodations:</h3>
      <p>Our rooms are designed to offer a blend of comfort and convenience.
         Guests can choose from various room types, including standard, deluxe,
         and suites. Each room is equipped with:
         <ul>
            <li>Comfortable beds</li>
            <li>Modern amenities</li>
            <li>Modern amenities</li>
            <li> High-speed internet</li>
            <li>24/7 room service</li>
        </ul>
        <div class="contener">
          <img src="./../../../assets/Executive.jpg" alt="">
          <img src="./../../../assets/natureHotel.jpg" alt="">
          <img src="./../../../assets/elegant-wooden-dining-room-with-modern-lighting-generated-by-ai.jpg" alt="">
          <img src="./../../../assets/boat.jpg" alt="">
          <img src="./../../../assets/dinner.jpg" alt="">
      </div>
    </div>

    <div class="testimonial aboutp">
         <h3>Dining:</h3>
        <p>
             Hotel Kinara features an on-site restaurant offering a diverse menu of local and international cuisines.
             Whether it’s a hearty breakfast, a business lunch, or a leisurely dinner,
              our dining options cater to all tastes and preferences.
        </p>    
        <img src="assets/elegant-wooden-dining-room-with-modern-lighting-generated-by-ai.jpg" alt="" width="500px">  
        
    </div>



